:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
    display: inline-block;
    width: 3rem;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

h1 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

h2 {
    text-align: center;
}

.hero article {
    padding: 1rem;
    display: flex;
}

.hero article img {
    float: right;
    width: 125px;
}

section div {
    display: flex;
}

section div img {
    width: auto;
    height: 7rem;
    align-self: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.advengrid {
    display: grid;
    grid-template: 4rem 8rem / 20% 20% 20% 20% 20%;
    place-items: center;
}

.advengrid h2 {
    grid-column: 1 / 6;
}

.advenpic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.advenpic img {
    width: auto;
    height: 6rem;
}